{% extends 'base.html'%}


 

{% block content %}

  


<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2>With a BSc in Computer Science from Thiruvalluvar University, I have a strong foundation in coding, designing, and problem-solving. I graduated in  2023, after completing a rigorous and collaborative curriculum that prepared me for the web development industry.</h2>
                <br><p class="lead mb-5">
                    I am currently a web designer and an intern at Redback IT Solutions, where I apply my skills in HTML, CSS, JavaScript, and Bootstrap to create responsive and user-friendly websites for various clients and projects. I have also earned multiple certifications in web development from reputable platforms such as freeCodeCamp, CareerNinja, and Udemy, demonstrating my passion and eagerness to learn new technologies and frameworks. My goal is to become a full-stack developer and contribute to impactful and innovative solutions.
                     
                    !
                </p>
                <a class="btn btn-dark btn-xl" href="">What I Offer</a>
            </div>
        </div>
    </div>
</section>

{% endblock%}
 